 html,body{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
.container{
    width: 40%;
    height: 760px;
    border: 1px solid black;
    background-color: white;
    border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
#form label{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 500;
    color: black;
}
#form input{
    width: 450px;
    height: 40px;
    border-radius: 5px;
    border-color:rgb(11, 11, 11);

}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 500px;
   border: 1px solooid black;
  
}
body{
    background: 
        linear-gradient(to left, rgba(116,235,213,0.7), rgba(159,172,230,0.7)),
        url(beautiful-city-lights-at-night-1080P-wallpaper.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
  border: 1px solid black;
    width: 100%;
    height: 70px;
      background: 
     linear-gradient(to left, rgba(116,235,213,0.7), rgba(159,172,230,0.7));
     display: flex;
     align-items: center;
     justify-content: center;
}

