
#main{
    border: 2 px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: rgb(201, 246, 246);
    margin-left: 400px;
    margin-top: 100px;
}

#div2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    width: 200px;
    height: 70px;
}