
 html,body{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#page1{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
#bigbox{
    width: 670px;
    height: 760px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
  display: flex;
  
  flex-direction: column;
  gap: 60px;

}
#formm label{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 500;
    color: black;
}
#formm input{
    width: 450px;
 height: 30px;
    border-radius: 5px;
    border-color:rgb(11, 11, 11);

}
#formm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    width: 100%;
    height: 500px;
   /* border: 1px solooid black; */
  
}
body{
    background: 
        linear-gradient(to left, rgba(116,235,213,0.7), rgba(159,172,230,0.7)),
        url(beautiful-city-lights-at-night-1080P-wallpaper.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#head{
    width: 100%;
    height: 70px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: 
     linear-gradient(to left, rgba(116,235,213,0.7), rgba(159,172,230,0.7));
}
#sub{
    background: 
     linear-gradient(to left, rgba(116,235,213,0.7), rgba(159,172,230,0.7));
}
